<table>
    <tr>
      <th>Username</th>
      <th>Full Name</th>
      <th>City</th>
      <th>DL. Number</th>
    </tr>
  
    <div *ngFor="let user of users" >
      <tr *ngIf="user.verified != true" >
          <td *ngIf="user.usertype!='admin'">{{user.username}}</td>
          <td *ngIf="user.usertype!='admin'">{{user.fname}}{{user.lname}}</td>
          <td *ngIf="user.usertype!='admin'">{{user.city}}</td>
          <td *ngIf="user.usertype!='admin'">{{user.license}}</td>
          <button (click)="onVerify(user)">Verify</button>
      </tr>   
    </div>
  </table>