<table>
    <tr>
      <th>Username</th>
      <th>Full Name</th>
      <th>City</th>
      <th>DL. Number</th>
      <th>Verify Button</th>
    </tr>
  
    <tr *ngFor="let user of users" >
      
          <td *ngIf="user.verified != true && user.usertype!='admin'">{{user.username}}</td>
          <td *ngIf="user.verified != true && user.usertype!='admin'">{{user.fname}}{{user.lname}}</td>
          <td *ngIf="user.verified != true && user.usertype!='admin'">{{user.city}}</td>
          <td *ngIf="user.verified != true && user.usertype!='admin'">{{user.license}}</td>
          <td *ngIf="user.verified != true && user.usertype!='admin'"><button class="btn btn-primary btn-sm" (click)="onVerify(user._id)">Verify</button></td>
    </tr>   
    
  </table>