table{
    border-collapse: collapse;
    width: 100%;
}

th,td{
    text-align: center;
}
th{
    background-color: black;
    color: white;
    height : 40px;
}

tr:nth-child(odd){
    background-color: wheat;
}

tr:nth-child(even){
    background-color: lightgoldenrodyellow;
}

img{
    height: 50px;
    width: 50px;
}