<!-- <table>
  <tr>
    <th>Car</th>
    <th>Name</th>
    <th>Number</th>
    <th>Rate</th>
    <th>City</th>
    <th>Category</th>
    <th></th>
  </tr>


<tr>
    <td>
        <img src="{{car.image}}">
    </td>

    <td>{{car.name}}</td>
    <td>{{car.number}}</td>
    <td>{{car.rate}}/day</td>
    <td>{{car.city}}</td>
    <td>{{car.category}}</td>
    <td>
        <button class="btn btn-primary btn-block" [routerLink] = "i" >Edit</button>
    </td>

</tr>


</table> -->


<div class="row">
        <div class="col-xs-12">
          <img [src]="foundCar.image"
           alt="{{foundCar.name}}" 
           class="img-responsive">
        </div>
</div>
  
      <div class="row">
        <div class="col-xs-12">
          <h1> {{foundCar.name}} </h1>
        </div>
      </div>

    
    