<div class="container">
      <div class="row">
        <div class="col-md-4">
          <div class="col-md-12">
                <ul class="list-group">
                  <a
                          class="list-group-item clearfix" 
                          style="cursor:pointer;" 
                          routerLink="showcar"
                          routerLinkActive="active"> Show Car 
                          
                </a>
                
                  <a
                          class="list-group-item clearfix" 
                          style="cursor:pointer;" 
                          routerLink="addcar"> Add Car 
                  </a>
                  
                  
                  <a
                    class="list-group-item clearfix" 
                    style="cursor:pointer;" 
                    routerLink="showuser"> All Users
                  </a>
                  
                  
                  <a
                    class="list-group-item clearfix" 
                    style="cursor:pointer;" 
                    routerLink="verify"> Verify User
                  </a>
                  
                  
                </ul>
              </div>
        </div>

        <div class="col-md-8">
            <router-outlet></router-outlet>
        </div>

      </div> 
</div>