<div class="container">
       
        <div class="row">
                  
                  <div class="col-md-6 col-xs-6 col-lg-6">
                      <div class="row">
      
                          <!-- CAR DETAILS -->                                 
                          <h4 class="alert alert-success"><strong>Your Car is here : </strong></h4>
                          
                          <div class="col-md-5">
                                <img 
                                  src = {{car.image}} 
                                  height="60%" width="70%"
                                  class="img-responsive"
                                  style="border-radius : 10px;">
                            </div>
                          
                          <div class="col-xs-6">
                              <p>
                                  <strong>Car Name : </strong>{{car.name}}</p>
                              <p>
                              <p> 
                                  <strong>Charges/day : </strong>
                                  Rs.
                                  {{car.rate}}
                              </p>
      
                              <p>
                                  <strong>Car Type : </strong>{{car.category}}
                              </p>
                              
                              <p>
                                  <strong>Vehicle Number : </strong>{{car.number}}
                              </p>
                          </div>
                          
                      </div>
            </div>

            <div class="col-lg-6 col-md-6 col-sm-6">
                    <div *ngIf="verified; else message">
                            <div class="row">
                                <h4 class="alert alert-info"><strong>Your Schedule :</strong></h4>
                                
                                <form (ngSubmit)="onContinue(car._id)" #form="ngForm">
                                    <div class="col-xs-6">
            
                                        <div class="form-group">
            
                                            <label for="fromdate">From :</label>
                                            <input 
                                              type="date" 
                                              class="form-control" 
                                              name="fromdate" 
                                              [ngModel]="fdate"
                                              required>
                                        </div>
            
                                        <div class="form-group">
                                            <label for="fromcity">Pickup City :</label>
                                            <input 
                                              type="hidden" 
                                              id="fromcity" 
                                              [ngModel]="fcity" 
                                              name="fromcity"
                                              required>
                                            <p class="form-control">{{car.city}}</p>
                                        </div>
            
                                    </div>
                                    <div class="col-xs-6">
                                        <div class="form-group">
            
                                            <label for="todate">To :</label>
                                            <input 
                                              type="date" 
                                              class="form-control" 
                                              [ngModel]="tdate" 
                                              name="todate"
                                              required>
                                        </div>
            
                                        <div class="form-group">
                                            <label for="tocity">Drop City :</label>
                                            <select class="form-control" 
                                                    id="tocity" 
                                                    [ngModel]="tcity" 
                                                    name="tocity"
                                                    required>
                                                    <option value="faridabad">Faridabad</option>
                                                    <option value="gurgaon">Gurgaon</option>
                                                    <option value="delhi">Delhi</option>
                                            </select>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-xs-12">
                                            <div align="center">
                                                     <button class="btn btn-primary" type="submit">Continue</button>
                                            </div> 

                                            <h3>{{msg}}</h3>
                                        </div>
                                    </div>
                              </form>
                          </div>
                      </div>
                          
                          <ng-template #message><p id="message">You are not yet verified..</p></ng-template>
            </div>
                   
        </div>
          
</div>

