
                        <div *ngIf="!payment">
                            <div align="center">                           
                            
                                <div class="well" style="width:600px">
                                            <h1>PAYMENT</h1>
                                    <span style="color:blue;font-weight:300;font-size:18px">
                                        Payment :{{amount}}
                                    </span>
                                    <div class="form-group row">
                                        <label for="card" class="col-sm-3 col-form-label">card number</label>
                                        <div class="col-sm-9">
                                            <input 
                                                id="card" 
                                                type="text" 
                                                pattern="\d*" 
                                                maxlength="16"
                                                class="form-control" 
                                                name="card" 
                                                required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-8">
                                            <div class="form-group row">
                                                <label for="expDate" class="col-sm-2 col-form-label">Expiry date</label>
                                                <div class="col-sm-10">
                                                    <input 
                                                        id="expDate" 
                                                        type="date" 
                                                        class="form-control" 
                                                        name="expdate" 
                                                        required>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="col-sm-4">
                                            <div class="form-group row">
                                                <label for="cvv" class="col-sm-2 col-form-label">cvv</label>
                                                <div class="col-sm-10">
                                                    <input 
                                                        id="cvv" 
                                                        type="text" 
                                                        class="form-control" 
                                                        name="cvv" 
                                                        maxlength="3" 
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <button class="btn primary" (click)="onPayment()"> payment</button>
                                </div>
                            
                            </div>
                    </div>