                    <div *ngIf="!payment">
                            <div style="margin: 90px 350px">                           
                            
                                <div class="well" style="width:600px; height:300px">
                                            <div id="head">
                                                <strong>PAYMENT</strong>
                                            </div>
                                    <span style="color:black;font-weight:300;font-size:18px;margin:200px">
                                        Payment :{{amount}}
                                    </span>
                                    <div class="form-group row">
                                        <label for="card" class="col-sm-3 col-form-label" style="font-size : 18px">Card Number</label>
                                        <div class="col-sm-9">
                                            <input 
                                                id="card" 
                                                type="text" 
                                                pattern="\d*" 
                                                maxlength="16"
                                                class="form-control" 
                                                name="card" 
                                                required>
                                        </div>
                                    </div>
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group row">
                                                <label for="expDate" class="col-sm-3 col-form-label" style="font-size : 18px">Expiry date</label>
                                                <div class="col-sm-8">
                                                    <input 
                                                        id="expDate" 
                                                        type="date" 
                                                        class="form-control" 
                                                        name="expdate" 
                                                        required>
                                                </div>
                                            </div>
                                            
                                            
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group row ">
                                                <label for="cvv" class="col-sm-2 col-form-label" style="font-size : 18px">Cvv</label>
                                                <div class="col-sm-9">
                                                    <input 
                                                        id="cvv" 
                                                        type="text" 
                                                        class="form-control" 
                                                        name="cvv" 
                                                        maxlength="3" 
                                                        required>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                    
                                    <button class="btn btn-info btn-lg" (click)="onPayment()" style="margin: auto 210px">PAYMENT</button>
                                </div>
                            
                            </div>
                    </div>