body{
    padding:70px;
    background: url(https://static.pexels.com/photos/13861/IMG_3496bfree.jpg);
    background-size: cover;
    background-position: center;
    font-family: Lato;
    
}

html{
height: 100%;
}

.custom-nav{
    background-color: #d9dce2;
}

.custom-text{
    color: #646668;
}

#content{
text-align: center;
padding-top: 15%;
text-shadow: 0px 2px 2px gray;
}

#head1{
font-weight: 700;
color: white;
font-size: 5em;
}

#head3{
color: white;
}

hr{
width: 400px;
border-top: 1px solid #f8f8f8;
border-bottom: 1px solid rgb(0 0 0 0.2);
}
